/*current weather icon*/
.currIcon {
    width: 36px;
    height: 36px;
}
/*current temp*/
.currTemp {
    font-size: 36px;
}
/*current weather information*/
p {
	margin-top: 10px;
	margin: auto;
	text-align: center;
}
